@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.woff2');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.woff2');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Semibold.woff2');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.woff2');
    font-style: normal;
    font-weight: 700;
}


/* general conditions*/

body {
    font-family: 'Gilroy', sans-serif;
    font-size: 16px;
    font-style: normal;
    color: #20242D;
    width: 1600px;
    margin: 0 auto;
    padding: 0;
}

h1 {
    margin-block-start: 0;
    margin-block-end: 0;
}

h2 {
    margin-block-start: 0;
    margin-block-end: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
   }

ul {
    margin-left: 0;
    padding-left: 0;
   }

.buttonCloseIcon {
    box-sizing: border-box;
    border: none;
    padding: 0;
    background-color: transparent;
}


/* index.html
header section*/

.headerBlock {
    width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
}

.LogoNavBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 50px;
    padding-right: 50px;
}

.contactLineBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1600px;
    background-color: #20242D;
    color: #FFFFFF;
    align-content: center;
}

.address{
    font-style: normal;
    font-size: 12px;
    padding-left: 50px;
    padding-top: 10px;
}

.contactIcons {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
}

.iconPhone {
    padding-left: 56px;
}

.contactIcons a {
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    padding-left: 10px;
    padding-top: 10px;    
}

.logoImgLinkBlock{
    padding: 12px 0;
}

.navList {
    display: flex;
    width: 480px;
    justify-content: space-between;
}

.navList a {
    color: #20242D;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navItem:first-child a {
    color: #FF7129;
}


/*section promo*/

.promo {
    padding: 0;
    margin: 0 auto;
}

.promoImg {
    background-image:
    radial-gradient(50% 179.69% at 50% 50%, rgba(32, 36, 45, 0) 0.3%, #20242D 100%),
    url('../img/bg-mp-main.jpg');
    width: 1600px;
    margin: 0 auto;
    position: relative;
}

.backgroundText span {
    position: absolute;
    font-weight: 700;
    font-size: 120px;
    line-height: 145px;
    text-transform: uppercase;
    opacity: 0.3;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FFFFFF;
}

.backgroundText span:first-child {
    margin-top: 167px;
    margin-left: 50px;
}

.backgroundText span:nth-child(2) {
    margin-top: 417px;
    margin-left: 1106px;
}

.promoHeader {
    font-weight: bold;
    font-size: 92px;
    line-height: 111px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 270px;
    margin-bottom: 16px;
}

.promoText {
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 59px;
}

.goCalcButton {
    display: block;
    position: relative;
    text-align: center;
    align-items: center;
    margin: 0 auto 106px;
    width: 187px;
    height: 49px;
    border: solid 1px #FF7129;
    background-color: #FF7129;
    box-shadow: 0px 4px 28px rgba(255, 113, 41, 0.29);
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
}

.goCalcButton:hover {
    text-align: center;
    margin: 0 auto 106px;
    background-color: #D35E22;
    border: solid 1px #D35E22;
    box-shadow: 0px 4px 28px rgba(255, 113, 41, 0.29);
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
}

.scrollImg{
    text-align: center;
    padding-bottom: 138px;
}


/* promoContent */


.promoContent{
    width: 1600px;
    margin: 132px auto 115px auto;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.promoContentBgImg{
    background: url('../img/bg-mp-drawing.png') no-repeat 0 0;
    width: 535px;
    margin-top: -33px;
}

.promoContentBgTxt {
    position: absolute;
    font-weight: 700;
    font-size: 96px;
    line-height: 116px;
    text-transform: uppercase;
    opacity: 0.1;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:  #20242D;
    margin-left: 37px;
}

.promoContentTxt h2 {
    font-size: 48px;
    color: #20242D;
    margin-top: 69px;
    margin-left: 65px;
    margin-bottom: 65px;
    border-left: solid 1px #FF7129;
    line-height: 47px;
    padding-left: 16px;
    font-weight: 700;
}

.promoContentTxt p {
    color: #20242D;
    margin-left: 65px;
    margin-bottom: 20px;
}


/*footer*/

.footerContent{
    background-color: #20242D;
}

.logoImgLinkBlockFooter {
    margin-top: 58px;
}

.navListFooter{
    display: flex;
    width: 480px;
    justify-content: space-between;
    margin-top: 66px;
}

.navListFooter a{
    color: #FFFFFF;
    font-size: 14px;  
}

.callbackButton {
    width: 187px;
    height: 49px;
    border: 1px solid #FF7129;
    text-align: center;
    color: #FFFFFF;
    font-weight: 700;
    background-color: #20242D;
    font-size: 14px;
}

.callbackButton:hover {
    border: 1px solid #FF7129;
    text-align: center;
    color: #FFFF;
    font-weight: 700;
    background-color: #FF7129;
    font-size: 14px;
}

.grayLine {
    border-bottom: 1px solid #7B7E85;
    opacity: 0.3;
    margin: 45px auto 0;
    width: 1500px;
}

.intellectProperty {
    width: 100%-100px;
    margin-top: 24px;
    padding: 0 50px 24px;
    display: flex;
    justify-content: space-between;
}
.intellectProperty span {
    font-size: 12px;
    color: #7B7E85;
}



/*about_us.html
main section*/

.abUs-headerImg{
    background-image:
    radial-gradient(50% 179.69% at 50% 50%, rgba(32, 36, 45, 0) 0.3%, #20242D 100%), url(../img/bg-ubUs-main.jpg);
    margin: 0 auto 80px;
    width: 1600px;
    height: 350px;
}

.BgImageAbUs {
    position: absolute;
    font-weight: 700;
    font-size: 120px;
    line-height: 145px;
    text-transform: uppercase;
    opacity: 0.3;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FFFFFF;
    top: 115px;
    left: 137px;
}

.abUs-headerImg div {
    padding-top: 200px;
    position: relative;
}

.abUs-header {
    margin-left: 200px;
    padding-left: 16px;
    font-weight: bold;
    font-size: 48px;
    line-height: 47px;
    color: #FFFFFF;
    border-left: 1px solid #FF7129;
}

.abUs-text-container {
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 184px;
    position: relative;
}

.AbUsBgImgText {
    width: 535px;
    position: absolute;
    /* top: 41;
    left: -268; */
    margin-left: -200px;
    margin-top: 41px;
    overflow: ;
}

.abUs-text-lpart,
.abUs-text-rpart {
    width: 534px;
    line-height: 24px;
}


/*projects.html
main section*/

.ProjektyTitleBlock {
    width: 1600px;
    padding-top: 125px;
    margin-left: 200px;
}

.ProjektyTitle{
    margin-bottom: 75px;
    border-left: 1px solid #FF7129;
    font-weight: 700;
    font-size: 48px;
    line-height: 47px;
    padding-left: 16px;
}

.ProjektyTitleBlock span {
    position: absolute;
    font-weight: 700;
    font-size: 96px;
    line-height: 116px;
    text-transform: uppercase;
    opacity: 0.3;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #20242D;
    margin-top: -70px;
    margin-left: -27px;
}

.roundabout {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    overflow: hidden;
    max-width: 1600px;
}

.roundabout img {
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 30px;
    margin-top: 75px;
}

.roundaboutHalfElement {
    opacity: 0.5;
    background-color: rgba(196, 196, 196, 0.5);
}

.roundaboutIcon {
    position: absolute;
}

.roundabout-left-icon {
    top: 55%;
    left: 11%;
}

.roundabout-right-icon {
    top: 55%;
    right: 11%;
}

.roundabout-calc {
    display: block;
    text-align: center;
    width: 1600px;
    margin-bottom: 100px;
}

.projectNumber {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.projectQuantity {
    font-size: 16px;
    line-height: 24px;
    color: #7B7E85;
}


/*contact page*/

.ContactPage {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #EFF1F5;
}

.ContactInfo {
    border-left: 1px solid #EFF1F5;
    margin-left: 200px;
    border-right: 1px solid #EFF1F5;
    padding-right: 150px;
    padding-bottom: 120px;
}

.ContactPageName {
    
    padding-top: 125px;
}

.ContactPageName span {
    position: absolute;
    font-weight: 700;
    font-size: 96px;
    line-height: 116px;
    text-transform: uppercase;
    opacity: 0.3;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #20242D;
    margin-top: -25px;
    margin-left: -27px;
}

.ContactPageName h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 47px;
    color: #20242D;
    border-left: 1px solid #FF7129;
    padding-left: 16px;
    margin-bottom: 178px;
}

.ContactContent h3 {
    font-size: 16px;
    line-height: 19px;
    color: #7B7E85;
    font-weight: 400;
    margin-bottom: 12px;
}

.contactAdresLine div,
.contactEmailLine div,
.contactPhonelLine div {
    display: inline-block;
    margin-bottom: 54px;
}

.contactAdresLine img,
.contactEmailLine img,
.contactPhonelLine img {
    margin-right: 10px;
}

.contactEmailLine a,
.contactPhonelLine a {
    text-decoration: none;
    color: #20242D;
    font-size: 16px;
    font-weight: 400;
}

.map {
    border-right: 1px solid rgba(123, 126, 133, 0.15);
    margin-right: 200px;
    position: relative;
}

.mapImg {
    position: absolute;
    bottom: 0;
    right: -200px;
}

.locationVector {
    background: url('../img/icon-location-map.svg'), no-repeat;
    position: relative;
    width: 42px;
    height: 51px;
    top: 610px;
    left: -190px;
}

/*instalacja.html*/

.title-section {
    background-image:
    radial-gradient(50% 179.69% at 50% 50%, rgba(32, 36, 45, 0) 0.3%, #20242D 100%), url(../img/inst-main.jpg);
    margin: 0 auto 120px;
    width: 1600px;
    height: 412px;
    position: relative;
}

.title-section span {
    position: absolute;
    font-weight: 700;
    font-size: 96px;
    line-height: 116px;
    text-transform: uppercase;
    opacity: 0.3;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FFFFFF;
}

.bgd-top-text {
    left: 0;
    top: 0;
}

.bgd-bottom-text {
    right: 0;
    bottom: 0;
}

.title-section h2 {
    font-weight: 700;
    font-size: 72px;
    line-height: 87px;
    color: #FFFFFF;
    padding-top: 160px;
    padding-left: 450px;
}

.content-section {
    width: 700px;
    margin: 0 auto;
}

.content-section h3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #20242D;
    border-left: 1px solid #FF7129;
    padding-left: 16px;
    margin-bottom: 32px;
}

.content-section p {
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #20242D;
}

.content-section div {
    margin-bottom: 64px;
}

.content-section div div {
    margin-bottom: 24px;
    margin-top: 24px;
    color: #20242D;
}

.text-bold {
    font-weight: 700;
    line-height: 24px;
}

.img-flex {
    display: flex;
    justify-content: space-between;
}

.text-bgd-highlite {
    display: block;
    background-color: #F5F5F5;
    padding: 16px 24px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 32px;
}

.text-bgd-highlite span {
    color: #FF7129;
    font-weight: 700;
}

.gray-line {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0;
}

.instal-list-markered li {
    background-color: #F2F2F2;
    margin-bottom: 24px;
    line-height: 42px;
    display: block;
}

.list-arrow-img {
    margin-left: 20px;
    margin-right: 20px;
}

.text-bold-orange {
    color: #FF7129;
    font-weight: 700;
}


/*popup*/

.popup {
    background-color: rgba(32, 36, 45, 0.9);
    padding-top: 225px;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    display: none;
    transform: translate(-50%, -50%);
}

.popupShow {
    display: block;
    position: fixed;
}

/*popupCalculator*/

.popupCalculatorBody{
    width: 800px;
    background-color: rgba(255, 255, 255, 1);
    margin: auto auto;
    position: relative;
    padding-bottom: 72px;
}

.popCalcCloseIcon {
    position: absolute;
    top: 22px;
    right: 22px;
}

.popupCalculatorTitle span {
    position: absolute;
    font-weight: 700;
    font-size: 96px;
    line-height: 116px;
    text-transform: uppercase;
    opacity: 0.1;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:  #20242D;
    margin-left: 26px;
}

.popupCalculatorTitle {
    padding-top: 60px;
}

.popupCalculatorHeader{
    font-size: 48px;
    line-height: 47px;
    font-weight: 700;
    margin-left: 58px;
    padding-left: 16px;
    border-left: solid 1px #FF7129;
    margin-bottom: 19px;
}

.popupCalculatorTxt {
    margin-left: 58px;
    margin-bottom: 56px;
}

.calculatorRangeBody {
    display: flex;
    justify-content: space-between;
    margin-right: 58px;
}

.iconInfoBody{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popupCalculatorRange p{
    font-size: 12px;
    color: #7B7E85;
    margin-left: 58px;
}

.iconInfo {
    background-image: url('../img/icon-info.svg');
    width: 10px;
    height: 10px;
    margin-left: 11px;
}

.iconInfo:hover {
    background-image: url('../img/icon-info-hover.svg');
    width: 10px;
    height: 10px;
    margin-left: 11px;
}

.InfoTextHint {
    position: absolute;
    width: 414px;
    padding: 16px;
    background: #FFFFFF;
    box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.11);
    top: 170px;
    left: 185px;
    visibility:hidden;
}

.triangle_down {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 13px solid #FFFFFF;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    top: 297px;
    left: 315px;
    visibility:hidden;
}

.iconInfo:hover +.InfoTextHint {
    visibility: visible;
}

.iconInfo:hover +.triangle_down {
    visibility: visible;
}

.rangeLine {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.rangeLineFull {
    width: 200px;
    height: 6px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background: linear-gradient(90deg, #5CD35A 55%, #FF8D24 80%, #F01717 150%);
}

.rangeManipulator {
    width: 8px;
    height: 8px;
    border: 8px solid #FF7129;
    border-radius: 50%;
    box-shadow: 0px 4px 17px rgba(255, 113, 41, 0.29);
}

.rangeLineEmpty {
    width: 460px;
    height: 6px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #F2F2F2;
}

.dropDownList {
    margin-left: 58px;
    display: flex;
    justify-content: space-around;
}

.worldSideHeader,
.roofMaterialHeader {
    font-size: 14px;
    color: #7B7E85;
}

.worldSideList,
.roofMaterialList {
    width: 327px;
    height: 52px;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    margin-top: 7px;
    margin-bottom: 56px;
    align-items: center;
    padding-left: 24px;
    font-size: 16px;
    line-height: 19px;
    color: #7B7E85;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    overflow: hidden;
    background: url('../img/select-arrow.svg') no-repeat;
    background-position: 90% 50%;
}

.worldSideList:hover,
.roofMaterialList:hover {
    border: 1px solid #FF7129;
    box-sizing: border-box;
    box-shadow: 0px 0px 9px rgba(255, 113, 41, 0.18);
}

.calculateButton {
    display: block;
    position: relative;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    width: 187px;
    height: 49px;
    border: solid 1px #FF7129;
    background-color: #FF7129;
    box-shadow: 0px 4px 28px rgba(255, 113, 41, 0.29);
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
}

.calculateButton:hover {
    display: block;
    position: relative;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    background-color: #D35E22;
    border: solid 1px #D35E22;
    box-shadow: 0px 4px 28px rgba(255, 113, 41, 0.29);
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
}


/*popupQuestion*/


.popupQuestionBody {
    width: 800px;
    background-color: rgba(255, 255, 255, 1);
    margin: auto auto;
    position: relative;
    padding-bottom: 72px;
}

.questionInfo {
    background-color: #FF7129;
    position: relative;
}

.popQuestCloseIcon {
    position: absolute;
    top: 22px;
    right: 22px;
}

.questionInfoTxt {
    padding-top: 72px;
    margin-left: 58px;
    color: #FFFFFF;
}

.questionInfoBlock {
    display: flex;
    justify-content: space-between;
    margin: 0 58px;
}

.questionInfoSum{
    color: #FFFFFF;
    font-size: 48px;
    line-height: 58px;
    font-weight: 700;
    padding-bottom: 72px;
}

.returnCalculatorButton {
    display: block;
    position: relative;
    text-align: center;
    align-items: center;
    width: 187px;
    height: 49px;
    border: solid 1px #FFFFFF;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 28px rgba(255, 113, 41, 0.29);
    color: #FF7129;
    font-weight: 700;
    font-size: 14px;
}

.returnCalculatorButton:hover {
    display: block;
    position: relative;
    text-align: center;
    align-items: center;
    background-color: #20242D;
    border: solid 1px #20242D;
    box-shadow: 0px 4px 28px rgba(255, 113, 41, 0.29);
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
}

.question {
    background-color: #FFFFFF;
    padding-top: 72px;
}

.questionHeader {
    margin-top: 72px;
    margin-left: 58px;
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    font-weight: 700;
    border-left: 1px solid #FF7129;
    padding-left: 16px;
}

.questionTxt{
    margin-top: 16px;
    padding-left: 58px;
    padding-right: 58px;
    font-weight: 400;
}

.questionForm {
    margin: 56px 58px;
    padding-bottom: 72px;

}

.questionFormLine,
.questionFormSecondLine {
    display: flex;
    justify-content: space-between;
}

.questionFormSecondLine {
    margin-top: 24px;
}

.userName,
.questionUserPhone,
.questionUserEmail {
    font-size: 14px;
    color: #7B7E85;
}

.questionForm label {
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 16px;
    color: #7B7E85;
}

.questionForm input {
    width: 327px;
    height: 52px;
    margin-top: 7px;
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: #7B7E85;
    padding-left: 24px;
}

.questionForm input:hover {
    border: 1px solid #FF7129;
    box-sizing: border-box;
    box-shadow: 0px 0px 9px rgba(255, 113, 41, 0.18);
}

.questionForm input:focus {
    outline: 1px solid #FF7129;
    box-sizing: border-box;
    box-shadow: 0px 0px 9px rgba(255, 113, 41, 0.18);
    color: #20242D;
}

.questionBtnFormSubmit{
    padding-top: 17px;
}

.questionBtnFormSubmit input {
    text-align: center;
    align-items: center;
    width: 187px;
    height: 49px;
    border: solid 1px #FF7129;
    background-color: #FF7129;
    box-shadow: 0px 4px 28px rgba(255, 113, 41, 0.29);
    color: #FFFFFF !important;
    font-weight: 700;
    font-size: 14px;
}

.questionBtnFormSubmit input:hover {
    background: #D35E22;
    box-shadow: 0px 4px 28px rgba(255, 113, 41, 0.29);
}

/*feedback*/

.feedbackBody{
    width: 800px;
    margin: 0 auto 92px;
    background-color: #FF7129;
    text-align: center;
    padding-bottom: 72px;
    position: relative;
}

.popFeedbackCloseIcon{
    position: absolute;
    top: 22px;
    right: 22px;
}

.iconCheckMark {
    padding-top: 93px;
    text-align: center;
}

.feedbackHeader {
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 24px;
}

.feedbackTxt {
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 56px;
}

.feedbackButton {
    margin: 0 auto;
    text-align: center;
    width: 187px;
    height: 49px;
    border: solid 1px #FFFFFF;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 28px rgba(255, 113, 41, 0.29);
    color: #FF7129;
    font-weight: 700;
    font-size: 14px;
}

.feedbackButton:hover {
    margin: 0 auto;
    text-align: center;
    color: #FFFFFF;
    background: #20242D;
    border: solid 1px #20242D;
    box-shadow: 0px 4px 28px rgba(255, 113, 41, 0.29);
    font-weight: 700;
    font-size: 14px;
}


/*callbackSection*/

.padding {
    padding-top: 97px;
}

.callbackSectionBody {
    width: 800px;
    margin: 0 auto;
    background-color: #FFFFFF;
    position: relative;
}

.iconCloseDefault {
    position: absolute;
    top: 22px;
    right: 22px;
}

.callback {
    margin-left: 58px;
    margin-right: 58px;
}

.callback span {
    position: absolute;
    font-weight: 700;
    font-size: 96px;
    line-height: 116px;
    text-transform: uppercase;
    opacity: 0.1;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:  #20242D;
    top: 73px;
    left: 26px;
}

.callbackHeader {
    border-left: 1px solid #FF7129;
    padding-left: 16px;
    font-weight: 700;
    font-size: 48px;
    line-height: 47px;
    margin-bottom: 19px;
}

.callbackTxt {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 64px;
}

.callbackForm {
    margin: 64px 58px;
    padding-bottom: 72px;
}

.contactLineCallback {
    display: flex;
    justify-content: space-between;
}

.userNameCallback,
.contacUserPhoneCallback {
    font-size: 14px;
    color: #7B7E85;
}

.callbackForm label {
    margin-bottom: 12px;
}

.callbackForm input {
    width: 327px;
    height: 52px;
    margin-top: 7px;
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: #7B7E85;
    padding-left: 24px;
}

.callbackForm input:hover {
    border: 1px solid #FF7129;
    box-sizing: border-box;
    box-shadow: 0px 0px 9px rgba(255, 113, 41, 0.18);
}

.callbackForm input:focus {
    outline: 1px solid #FF7129;
    box-sizing: border-box;
    box-shadow: 0px 0px 9px rgba(255, 113, 41, 0.18);
    color: #20242D;
}

.callbackButtonPopup {
    margin-top: 40px;
    padding-top: 17px;
}
.callbackButtonPopup input {
    text-align: center;
    align-items: center;
    width: 187px;
    height: 49px;
    border: solid 1px #FF7129;
    background-color: #FF7129;
    box-shadow: 0px 4px 28px rgba(255, 113, 41, 0.29);
    color: #FFFFFF !important;
    font-weight: 700;
    font-size: 14px;
}

.callbackButtonPopup input:hover {
    background: #D35E22;
    box-shadow: 0px 4px 28px rgba(255, 113, 41, 0.29);
}